body {
    /*background: aliceblue;*/
    background: #CCC;
    width:1000px;
    margin: 0 auto;
    border: 1px solid #666;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 10px #111;
}

.banner {
    border: 1px solid #666;
    background: #666;
    font-size: xx-large;
    padding: 5px;
    color: #8a1326;
}

.content {
    background: #AAA;
    border-top: 1px solid #666;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input[type="submit"] {
    padding-left: 10px;
    padding-right: 10px;
    background: #AAA;
    border: 1px solid #CCC;
    margin-left: 5px;
    margin-right: 5px;
}

input[type="submit"]:hover {
    background: #CCC;
}

input[type="text"] {
    background: #CCC;
    border: 1px solid #666;
}