[Unit]
Description=Big Anti-Human Captcha

[Service]
User=ctfuser
Group=ctfuser
WorkingDirectory=/home/ctfuser/BigAntiHuman
ExecStart=/usr/bin/sudo -u ctfuser /usr/bin/node app.js

[Install]
WantedBy=multi-user.target
